body{
    margin: 0;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
overflow: hidden;
    
}

div {
    text-align: center;
    font-size: 43;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    background-color: #333;
    border: 10px #333;
    padding: 10px 10px;
    overflow: hidden;
}

a{
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

a:hover{
    background-color: #312929;
}

.na{
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

nav #sign {
    float:right;
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

table {
    margin: 15px auto;
    font-size: large;
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: #006600;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT',
    ' Calibri', 'Trebuchet MS', 'sans-serif';
}

td {
    background-color: rgb(18, 124, 156); 
    font-weight: bold;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    color: rgb(240, 234, 234);
    font-weight: bolder;
}

th{
    background-color: #00DBDE; 
    font-weight: bold;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.first {
    float: left;
    width:45%;
    margin-left: 5px;
}

.second {
    float: right;
    width:45%;
    margin-right: 5px;
}

.third {
   clear: both;
   float: left;
   width:45%;
   margin-top: 50px;
   margin-left: 5px;
}
.fourth {
   float: right;
   width:45%;
   margin-top: 50px;
   margin-right: 5px;

}

.big{
    font-size: 35px;
}

.n {
    font-size: 36px; 
    color: #084139; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    margin: 20px 0; 
    border-bottom: 3px #006600 dashed;
}

span {
    margin-left: 34.5%;
    font-size: 40px;
    color: white;
}

span:hover {
    background-color: #312929;
    cursor: pointer;
}

.about {
    font-size: 25px;
    border: 2px solid black;
    margin: 50px;
    padding: 2%;
    padding-bottom: 12%;
    width: 90%;
    height: 500px;
    background-color: gainsboro;
    text-align: center;
    overflow: hidden;
}

.ab {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    text-decoration: underline;
    font-weight: 700;
}

strong {
    color:#006600;
    text-decoration: underline;
}

.xampp {
    background-color: gainsboro;
}

.xampp:hover{
    background-color: gainsboro;
}

a:hover{
    background-color: #312929;
}

#my{
    zoom: 100%;
    }