body {
   font-family: Arial, sans-serif;
   text-align: center;
   background-image: linear-gradient(to bottom right, #035227, #eef4f7);
   overflow:auto;
   background-size: cover;
   
}

.container {
   width: 300px;
   margin: 0 auto;
   padding: 5%;
   padding-left: 4%;
   padding-top: 4%;
   border: 3px solid #000000;
   background-color: rgb(247, 244, 244);
}



input[type="text"],
input[type="password"] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
 

}

input[type="submit"] {
   background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
   background-color: #0056b3;
}

