body {
   font-family: Arial, sans-serif;
   text-align: center;
   
}

.container {
   width: 300px;
   margin: 0 auto;
   
}



input[type="text"],
input[type="password"] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
 

}

input[type="submit"] {
   background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
   background-color: #0056b3;
}

