body{
    margin: 0;
    background-image: linear-gradient(to bottom right, #03e0e7, #eef4f7);
    overflow:hidden
}

nav{
    background-color: #333;
    border: 10px #333;
    padding: 10px 10px;
    overflow: hidden;
    
}

a{
    float: left; /* Arrange links horizontally */
    display: block; /* Make the entire link clickable */
    color: white; /* Text color for links */
    text-align: center; /* Center-align text within links */
    padding: 14px 16px; /* Padding around text (top and bottom, left and right) */
    text-decoration: none; /* Remove underlines from links */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

nav #sign {
    float: right;
}

.container {
    max-width: 400px;
    margin: 15px auto;
    
    padding: 30px;
    padding-right: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 50%;
    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="button"] {
    background-color: #13b8bb;
    color: #fff;
    border: 3px solid;
    border-color: #0a3d3d;
    padding: 30px 20px;
    margin: 5px;
    cursor: help;
    width: 99.5%;
    font-size: 150%;
    height: 100px;
}

input[type="button"]:hover {
    background-color: #04f0f8;
}

span {
    margin-left: 34.5%;
    font-size: 40px;
    color: white;
}

span:hover {
    background-color: #312929;
    cursor: pointer;
}

a:hover{
    background-color: #312929;
}